* {
    -webkit-transform: translate3d(0px,0px,0px);
}

.full {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    border: none;
    margin: 0px;
    padding: 0px;   
    left: 0px;
    top: 0px;
    position: absolute;
}
#splash {
    background-color: #ffffff;
    /*
    background-image: url('images/splash_bg.png');
    background-repeat: repeat;
    */
    text-align: center;
    width: 100%;
}
#splash_div  {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
}
#splash_image {
    width: 640px;
    max-width: 90%;
}
#loading_div  {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0px;
    text-align: center;
}
#loading_image {
    width: 16px;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
}
