* {
    /*
       -webkit-transform: translate3d(0px,0px,0px);
    */
}
.hwaccel {  
    /*
      -webkit-transform: translateZ(0); 
    */
}
body {
    background-color: #ffffff;
}
.full {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    border: none;
    margin: 0px;
    padding: 0px;   
    left: 0px;
    top: 0px;
    position: absolute;
}
#splash {
    background-color: #ffffff;
    text-align: center;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
}
#splash_div  {
    width: 100%;
    height: 100%;
    line-height: 100%;
    position: absolute;
    padding-top: 20px;
    top: 0px;
    left: 0px;
    white-space: nowrap;    
    text-align: center; margin: 1em 0;
}
#splash_div:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

#splash_image {
    width: 90%;
    max-width: 640px;
    height: auto;
    max-height: 920px;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
}
#loading_div  {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0px;
    text-align: center;
}
#loading_spinner {
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
}
#container {
    width: 100%;
    height: 100%;
}